.classpath
.git
.git/*
.gitignore
.project
a.bat
ADMIN_USB_1
ADMIN_USB_1/*
AndroidManifest.xml
Aptana3
Aptana3/*
bin
bin/*
Camera
Camera/*
CodeReading
CodeReading/*
desktop.ini
Electronics
Electronics/*
gen
gen/*
G_nbp_new
G_nbp_new/*
Hayashi
Hayashi/*
JOB
JOB/*
libs
libs/*
memos.txt
Music
Music/*
Paintings
Paintings/*
PIC
PIC/*
proguard-project.txt
project.properties
Rails
Rails/*
res
res/*
runtime-EclipseApplication
runtime-EclipseApplication/*
smplayer
smplayer/*
src
src/*
TEMPLATES
TEMPLATES/*
test.mp4
test2.mp4
test_codeced.mp4
test_mp4box.mp4
text_processing
text_processing/*
VIDEOS_hypercam
VIDEOS_hypercam/*
VisualArts
VisualArts/*
WORKSPACE_PIC
WORKSPACE_PIC/*
WS_Android
WS_Android/*
WS_Android~
WS_Android~/*
WS_General
WS_General/*
新しいフォルダー
新しいフォルダー/*
Scanned_images/
Scanned_images/*
