.git
.git/*
ADMIN_USB_1
ADMIN_USB_1/*
G_nbp_new
G_nbp_new/*
TEMPLATES
TEMPLATES/*
WS_Android
WS_Android/*
WS_Android~
WS_Android~/*
WS_General
WS_General/*
Camera//
Camera//*
Camera/
Camera/*
WORKSPACE_PIC/
WORKSPACE_PIC/*
=======
*.class
*.cache
*.apk
*.ap_
*.dex
*.*.class
Aptana3
Aptana3/*
bin
bin/*
Camera
Camera/*
gen
gen/*
libs
libs/*
Rails
Rails/*
res
res/*
src
src/*
WORKSPACE_PIC
WORKSPACE_PIC/*
.git
.git/*
ADMIN_USB_1
ADMIN_USB_1/*
G_nbp_new
G_nbp_new/*
TEMPLATES
TEMPLATES/*
WS_Android
WS_Android/*
WS_Android~
WS_Android~/*
WS_General
WS_General/*
Camera//
Camera//*
Camera/
Camera/*
WORKSPACE_PIC/
WORKSPACE_PIC/*
